.home-page-container{
    display: flex;
}

.user-cards-section{
    flex-basis: 70%;
}

.card-detail-section{
    flex-basis: 30%;
    /* height: calc(100vh - 5rem); */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    margin: 2rem;
}

