body {
    background-position: center;
}

.user-card-container{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: space-around;
}

.icon{
    padding-top: 1rem;
}
.avatar {
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 50%;
}

.user-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* padding: 1rem; */
    justify-content: center;
    align-items: center;

    width: 14rem;
    flex-grow: 1;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.social-icons{
    background-color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem 0;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.social-icons i{
    cursor: pointer;
}

.selected-card{
    border: 2px solid black;
}

