body{
  background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
}


.green-icon{
  color: #34A654;
}

.social-icons i:hover{
  color: #000;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out 0.1s;
}

.right-margin{
  margin-right: 0.5rem;
}

.galary-img{
  height: 10rem;
  width: 10rem;
}

.img-gallry{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
